@import "cards.css";
@import "textBox.css";

.main{
    font-size: 1.25em;
    color: var(--darkText);
}

.main > div{
    margin-bottom: 4em;
}

.main > div:nth-child(even){
    background-color: var(--mainLight);
}