@import "cards.css";
@import "textBox.css";

.main{
    font-size: 1.25em;
    color: var(--darkText);
}

.main > div{
    padding-bottom: 3em;
}

.main > div:nth-child(even){
    background-color: var(--secLight);
}

@media screen and (max-width: 500px){
    .main{
        font-size: 1em;
    }
}