.header {
    background-color: var(--mainDark);
    width: 100vw;
}

.headerText{
    position: absolute;
    background-color: var(--mainDark);
    color: var(--lightText);
    font-size: 2.5em;
    width: 80%;
    min-height: 8em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@media screen and (max-width: 500px){
    .headerText{
        font-size: 1.25em;
        width: 95%;
    }
}