*{
    margin: 0;
    padding: 0;
}

.header {
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
}

canvas{
    display: block;
}