nav{
    position: fixed;
    height: 3em;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #fff;
    box-sizing: border-box;
    padding-right: 2em;
    background-color: var(--overlayDark);
    z-index: 20;
}

nav a{
    margin-left: 2em;
    color: var(--lightText);
}

.dark:hover{
    border-bottom: 2px solid var(--mainDark);
}

a{
    text-decoration: none;
}

a:hover{
    color: var(--secLight);
    box-sizing: border-box;
    border-bottom: 2px solid var(--secLight);
}

.contact i:hover{
    color: var(--secLight);
    box-sizing: border-box;
}

.link{
    height: 2em;
    font-size: 1em;
}

@media screen and (max-width: 500px){
    nav{
        padding-right: 0;
        justify-content: space-evenly;
    }

    nav a{
        margin-left: 0;
    }
}
