.box{
    padding: 1em;
    box-sizing: border-box;
}

.centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.evenRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1em auto 0 auto;
}

.evenRow > div{
    margin: 1em;
}

.hidden{
    display: none;
}

.visible{
    display: flex;
}

button{
    border: 1px solid var(--mainLight);
    color: var(--darkText);
    background-color: #fff;
    padding: 1em;
    height: 4em;
    min-width: 8em;
    border-radius: 2em;
}

button:hover{
    background-color: var(--mainDark);
    color: var(--lightText);
}

.light{
    color: #fff;
}

@media screen and (min-width: 2250px){
    .evenRow{
        width: 80%;
    }
}

@media screen and (min-width: 1120px){
    #projects .evenRow i{
        width: 26em;
        height: 30em;
        margin: 1em;
    }
}