.textBox{
    width: 90%;
    display: flex;
    justify-content: space-between;
    border-left: 2px solid var(--secLight);
    background-color: var(--secDark);
}

.textBox h3{
    color: var(--secLight);
}

ul{
    list-style-type: none;
    margin: 1em 0 0 0;
    padding: 0;
}

.textTitle{
    width: 25%;
}

.text{
    margin-left: 2em;
    width: 75%;
}

.title{
    margin: 0 auto 0 auto;
    width: 50%;
    text-align: center;
}

.title:nth-child(odd){
    padding: 1em 0 0.25em 0;
}

@media screen and (max-width: 900px){

    .text{
        margin-left: 0;
        width: auto;
    }

    .textBox{
        flex-wrap: wrap;
    }

    .textTitle{
        min-width: 100%;
        margin-bottom: 1em;
    }
}

@media screen and (max-width: 500px){
    .text-box{
        width: 95%;
        justify-content: space-evenly;
    }
}